{% extends "main.html" %}
{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Monitor</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
            <li class="breadcrumb-item active">Monitor</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <!-- <div class="form-group"></div> -->
                <!-- Red -->
                    <!-- <form action="/wlc"  method="POST"> -->
                        
                        <!-- {% csrf_token %} -->
                        <!-- <button class="btn btn-primary" id="butthon" name="butthon" value="butthon" >Click Show User on Wireless </button> -->
                    <!-- </form><br>
                        <div class="progress">
                        <div class="progress-bar bg-danger" style="width:{{num_wlc}}%">{{num_wlc}}%</div>
                        </div>
                          -->
                    <div id="auto">
                          <div class="card-header">
                            <i class="fas fa-chart-area mr-1"></i>
                            Clients in Wireless Lan 
                        </div>
                        <br>
                          <div class="table-responsive">
                            <div class="progress" style="height:30px">
                                <div class="progress-bar" style="width:{{data2}}%;height:30px">ผู้ใช้งานจำนวน {{data2}} ผู้ใช้งาน</div>
                              </div>
                           
                        </div>
                        </div>
                </div>

                <br>
    
            </div>
        </div>

        <div class="form-group">
            
<!-- <input type="text" class="form-control" id="myInput" placeholder="Search for names..">
        </form>
          </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                         Chart Device
                    </div>
                    <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                            Chart Device
                    </div>
                    <div class="card-body"><canvas id="myAreaChart1" width="100%" height="40"></canvas></div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                            Chart Device
                    </div>
                    <div class="card-body"><canvas id="myAreaChart2" width="100%" height="40"></canvas></div>
                </div>
            </div> -->
            <!-- <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-area mr-1"></i>
                            Chart Device
                    </div>
                    <div class="card-body"><canvas id="myAreaChart3" width="100%" height="40"></canvas></div>
                </div>
            </div> -->
            <div class="card-body">
                <div class="card-header">
                    <i class="fas fa-chart-area mr-1"></i>
                        Interface
                </div><br>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            
                            <tr>
                                <th>IP Address</th>
                                <th>Hostname</th>
                                <th>Interface</th>
                                <th>Status</th>
                                <th>Update Time</th>
                            </tr>
                           
                        </thead>
                        <tfoot>
                            <tr>
                                <th>IP Address</th>
                                <th>Hostname</th>
                                <th>Interface</th>
                                <th>Status</th>
                                <th>Update Time</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for qry in data %} 
                            <tr>
                                <td>{{ qry.ip_hostname  }}</td>
                                <td>{{ qry.hostname  }}</td>
                                <td>{{ qry.interface  }}</td>
                                <td>{{ qry.status  }}</td>
                                <td>{{ qry.update_time  }}</td>
                               
                            </tr>
                             {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
        </div>  
        <!-- WLC-->

        <div class="card-body">
            <div class="card-header">
                <i class="fas fa-chart-area mr-1"></i>
                    Clients in Wireless Lan 
            </div><br>
            <div class="table-responsive">
                <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        
                        <tr>
                            <th>IP Address</th>
                            <th>Mac Address</th>
                            <th>Username</th>
                        </tr>
                       
                    </thead>
                    <tfoot>
                        <tr>
                            <th>IP Address</th>
                            <th>Mac Address</th>
                            <th>Username</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for qry in data3 %} 
                        <tr>
                            <td><a href="#">{{ qry.ip_clients  }}</a></td>
                            <td>{{ qry.mac_address }}</td>
                            <td>{{ qry.username }}</td>
                        </tr>
                         {% endfor %}
                        
                    </tbody>
                </table>
            </div>
    </div>  
    <!--IN___OUT-->
    <div class="card-body">
        <div class="card-header">
            <i class="fas fa-chart-area mr-1"></i>
                Total Inbound & Outbound
        </div><br>
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="dataTable3" width="100%" cellspacing="0">
                <thead>
                    
                    <tr>
                        <th>IP Address</th>
                        <th>Hostname</th>
                        <th>Interface</th>
                        <th>Inbound</th>
                        <th>Outbound</th>
                    </tr>
                   
                </thead>
                <tfoot>
                    <tr>
                        <th>IP Address</th>
                        <th>Hostname</th>
                        <th>Interface</th>
                        <th>Inbound</th>
                        <th>Outbound</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for qry in data4 %} 
                    <tr>
                        <td>{{ qry.ip_hostname  }}</td>
                        <td>{{ qry.hostname  }}</td>
                        <td>{{ qry.interface  }}</td>
                        <td>{{ qry.inbound  }} Byte</td>
                        <td>{{ qry.outbound  }} Byte</td>
                    </tr>
                     {% endfor %}
                    
                </tbody>
            </table>
        </div>
</div>  


    </div>
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
    <script type="text/javascript">
        $ (document).ready( function(){
        refresh();
         });
        function refresh()
        {
         setTimeout( function() {
         $ ('#auto').load('/monitor/');
         refresh();
         },200);
        }
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/.../jquery/1.9.1/jquery.min.js"></script>
</main>
{% endblock %}