{% extends "main.html" %}
{% block content %}
<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Clients in Wireless Lan</div>
                <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{data2}}</div>
                </div>
                <div class="col">
                    <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-info" role="progressbar" style="width: {{data2}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-auto">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
            </div>
        </div>
        </div>
</div>
<div id='table1'>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Interface</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>IP Address</th>
                <th>Hostname</th>
                <th>Interface</th>
                <th>Status</th>
                <th>Update Time</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>IP Address</th>
                <th>Hostname</th>
                <th>Interface</th>
                <th>Status</th>
                <th>Update Time</th>
              </tr>
            </tfoot>
            <tbody>
                {% for qry in data %} 
                <tr>
                    <td>{{ qry.ip_hostname  }}</td>
                    <td>{{ qry.hostname  }}</td>
                    <td>{{ qry.interface  }}</td>
                    <td>{{ qry.status  }}</td>
                    <td>{{ qry.update_time  }}</td>
                   
                </tr>
                 {% endfor %}
             
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <!-- END TABLE  -->
      <!--TABLE 1 -->
<div id='table2'>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Clients in Wireless Lan</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>IP Address</th>
                <th>Mac Address</th>
                <th>Username</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>IP Address</th>
                <th>Mac Address</th>
                <th>Username</th>
              </tr>
            </tfoot>
            <tbody>
                {% for qry in data3 %} 
                    <tr>
                        <td><a href="#">{{ qry.ip_clients  }}</a></td>
                        <td>{{ qry.mac_address }}</td>
                        <td>{{ qry.username }}</td>
                    </tr>
                {% endfor %}
             
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <!-- END TABLE  -->
      <div id='table3'>
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total Inbound & Outbound</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>IP Address</th>
                    <th>Hostname</th>
                    <th>Interface</th>
                    <th>Inbound</th>
                    <th>Outbound</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>IP Address</th>
                    <th>Hostname</th>
                    <th>Interface</th>
                    <th>Inbound</th>
                    <th>Outbound</th>
                  </tr>
                </tfoot>
                <tbody>
                    {% for qry in data4 %} 
                    <tr>
                        <td>{{ qry.ip_hostname  }}</td>
                        <td>{{ qry.hostname  }}</td>
                        <td>{{ qry.interface  }}</td>
                        <td>{{ qry.inbound  }} Byte</td>
                        <td>{{ qry.outbound  }} Byte</td>
                    </tr>
                     {% endfor %}
                 
                </tbody>
              </table>
            </div>
          </div>
          </div>
          <!-- END TABLE  -->
{% endblock %}
