{% extends "main.html" %}
{% block content %}
<div class="card mb-4 py-3 border-bottom-warning">
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-md-4">
              <svg class="bd-placeholder-img" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
        
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <div class="card mb-4 py-3 border-bottom-success">
                    <div class="card-body">
                        <h5 class="card-title">สวัสดีคุณ : {{username}}</h5>
                    </div>
                  </div>
                <p class="card-text">รายละเอียดผู้ใช้งานระบบ</p>
                {% for qry in data %} 
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Username</span>
                    </div>
                    <p class="card-text">{{qry.username}}</p>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">First Name</span>
                    </div>
                    <p class="card-text">{{qry.first_name}}</p>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Last Name</span>
                    </div>
                    <p class="card-text">{{qry.last_name}}</p>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon3">Email</span>
                    </div>
                    <p class="card-text">{{qry.email}}</p>
                  </div>
                
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                {% endfor %}
                
              </div>
            </div>
          </div>
        
       
    </div>
  </div>
{% endblock %}
